<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer" class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center justify-content-center">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">

                <ul class="list-inline list-inline-dots mb-1">
                    <li class="list-inline-item">
                        Copyright &copy; 2026
                        <a href="." class="link-secondary">LyraSuite</a>.
                        Developed by <strong>Xyuxu</strong>.
                    </li>
                    <li class="list-inline-item">
                        <span class="badge bg-green-lt">v2.0.0</span>
                    </li>
                </ul>

                <div class="mt-2">
                    <p class="small text-muted mb-0" style="line-height: 1.6;">
              <span class="text-warning">
                <i class="ti ti-alert-triangle"></i>
                <strong>免责声明：</strong>
              </span>
                        本工具仅供合法合规的安全Java安全学习使用。
                        <br class="d-none d-lg-block"> 任何未经授权的非法利用行为均被严格禁止。用户因违反法律规定而造成的直接或间接后果，由用户自行承担。
                    </p>
                </div>

            </div>
        </div>
    </div>
</footer>

</body>
</html>